html, *, *:after, *:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

body{
	margin:0;
	padding:0;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: rgb(50, 50, 50);
}
header, main{
	margin:0;
	width:100%;
}

header{
	background-color: rgb(175, 203, 2);
	padding:1.66% 0;

}

.container{
	margin:0 auto;
	max-width:900px;
	height:100%;
	text-align: center;
}

h1{
	font-size:400%;
}

.spanTitle{
	display:block;
	font-size:200%;
}
h1, .spanTitle {
	margin-top:0;
	margin-bottom:1%;
	color: rgb(250, 250, 250);
	text-transform: uppercase;
	text-align: center;
	line-height: 1.1;
}

#title_1{
	padding-top:10px;

}

#menu{
	margin:0
	padding:0;
	/*width:100%;*/
	height:30px;
	background-color: rgb(250, 250, 250);
	text-align: center;
}
#guess{
	text-align: left;
}

#message{
	width:35%;
	font-weight: normal;
	display: inline-block;
	margin:0;
	padding:0;
}

button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	color: white;
	background: rgb(175, 203, 2);
}
.active {
	background-color: rgb(175, 203, 2);
	color: rgb(250, 250, 250);
}

.colors{
	float:left;
	margin:1.66%;
	width:30%;
	padding-bottom: 30%;
	border-radius: 20px;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
}
.colors:hover{
	cursor: pointer;
}
.easy{
	display:none;
}

#color_1{
	background-color: rgb(250, 0, 0);
}
#color_2{
	background-color: rgb(0, 250, 0);
}
#color_3{
	background-color: rgb(0, 0, 250);
}

#color_4{
	background-color: rgb(90, 100, 200);
}

#color_5{
	background-color: rgb(200, 210, 100);
}

#color_6{
	background-color: rgb(10, 250, 250);
}